* {box-sizing: border-box; margin:0; border:}

.l1{
  border: thin solid black;
  width: 10%;
  float: left;
  height: 10%;
}

#paleta{
  display: none;
  /* text-align: center; */
  padding-left: 10%;
}

#paleta:p {
width: 100%;
}

.colors{
  float: left;
  width: 25%;
  height: 25%;
  padding: 5%;
  padding-top: 10%;
}

.azul{
  background-color: blue;
  border: thin solid blue;
}

.verde{
  background-color: green;
  border: thin solid green;
}

.rojo{
  background-color: red;
  border: thin solid red;
}

/* PARA QUE SEA RESPONSIVE */
@media screen and (max-width: 500px) {

  .l1{
    width: 20%;
    height: 10%;
  }
}
