* {box-sizing: border-box; margin:0; border:}

html,body{
  background-color: #99c2ff;
  /* background-image: url("images/fondo.gif"); */
  /* width: 20000px; */
  overflow: hidden; /* Para lo que salga del boddy no se muestre */

}

#fondo{
  /* background-color: #99c2ff; */
  width: 100%;
  /* height: 100%; */
}

#imagen_mario{
  background-image: url("images/mario-run.png");
  animation: moverse 0.5s steps(5) infinite, andar 3s steps(1000) 1;
  width: 360px;
  height: 260px;
  position: absolute;
  bottom: 224px;


}

#nube{
  background-image: url("images/nube.png");
  animation: moverse_nube 10s steps(1000) 1;
  margin-top: 3%;
  margin-left: 115%;
  width: 240px;
  height: 256px;
  position: absolute;


}

#nube2{
  background-image: url("images/nube.png");
  animation: moverse_nube 5s steps(1000) 2, moverse_nube2 5s steps(1000) 1, moverse_nube3 5s 5s steps(1000) 1;
  margin-left: 115%;
  width: 240px ;
  height: 256px;
  position: absolute;

}

#tubo{
  background-image: url("images/tubo-passage.png");
  width: 250px;
  height: 200px;
  float: left;
  left: 1140px;
  position: absolute;
  bottom: 220px;

}

#tubo2{
  background-image: url("images/tubo2.png");
  width: 250px;
  height: 200px;
  float: left;
  left: 1870px;
  position: absolute;
  bottom: 220px;


}

#goomba{
  background-image: url("images/goomba.png");
  width: 150px;
  height: 150px;
  float: left;
  margin-left: 3024px;
  display: none;
  position: absolute;
  bottom: 210px;

}

#suelo {
background-image: url("images/suelo.png");
width: 3200px;
height: 220px;
animation: moverse 20s infinite;
position: absolute;
bottom: 0;

}

#final{
  float: left;
  margin-left: 30%;
  margin-top: 10%;
  text-align: center;
  font-size: 20px;
  color: rgb(0, 35, 103);
  opacity: 0;
}

#final a{
  font-style: oblique;
}

#finish{
  display: none;
  position: absolute;
  margin-top: 5%;
  float: left;
  margin-left: 40%;
  font-family: inherit;
  font-size: 80px;
  text-shadow: 4px 0 0 green, -2px 0 0 green, 0 4px 0 green, 0 -2px 0 green, 4px 4px green, -1px -1px 0 green, 4px -1px 0 green, -1px 4px 0 green;
  color: red;
}

#controles{
  display: none;
  width: 306px;
  height: 200px;
  text-align: center;
  color: green;
  font-family: fantasy;
  float: right;
  position: absolute;
  margin-top: 26%;
  margin-left: 80%;
}

.botones_final{
  margin-top: 2%;
  margin: 7%;
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
  font-size: 40px;
  cursor: pointer;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  /* animation: animacion_buttons 1s both; */
}

.botones_final:hover{
 color: #1883ba;
 background-color: #ffffff;
}

@keyframes andar {
  100% { margin-left: 950px; }
}

@keyframes andar_final {
  100% { margin-left: 100%; }
}

@keyframes moverse {
  100% { background-position: -1800px 0px;}
}

@keyframes desaperecer_mario {
  0% { opacity: 1;}
  100% {opacity: 0;}
}

@keyframes mario-subo-tubo2{
0% {margin-bottom: 10px; opacity: 0;}
50% {margin-bottom: 75px; opacity: 0;}
100% {margin-bottom: 125px; opacity: 1;}
}

@keyframes mario-salir-tubo2 {
0% {margin-bottom: 125px; margin-left: 1900px; }
100% {margin-bottom: -0px; margin-left: 2100px;}
}

@keyframes saltar_mario {
  0% {margin-bottom: 0px;}
  100% {margin-bottom: 140px;}
}

@keyframes bajar_mario {
  0% {margin-bottom: 140px;}
  100% {margin-bottom: 0px;}
}

@keyframes moverse_nube {
  100% { margin-left: -200px; }
}

@keyframes moverse_nube2 {
  0%   {left:0px; top:100px;}
  25%  {left:0px; top:300px;}
  50%  {left:0px; top:500px;}
  75%  {left:0px; top:300px;}
  100% {left:0px; top:100px;}
}

@keyframes andar_goomba {
100% {background-position: 0px, -750px; }
}

@keyframes moverse_goomba {
100% {margin-left: 2200px; }
}


@keyframes desaparecer_goomba {
  from,
  20%,
  53%,
  80%,
  to { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transform: translate3d(0, 0, 0);  }

  40%,
  43% { animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0, -30px, 0); }

  70% { animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0, -15px, 0); }

  90% { transform: translate3d(0, -4px, 0);}
}

@keyframes flash {
  from,
  50%,
  to { opacity: 1; }

  25%,
  75% { opacity: 0; }
}

@keyframes moverse_nube3 {
  0%   {left:0px; top:500px;}
  25%  {left:0px; top:300px;}
  50%  {left:0px; top:100px;}
  75%  {left:0px; top:300px;}
  100% {left:0px; top:500px;}
}


@keyframes animacion_titulo {
  0% {transform: translateY(-1000%); opacity: 0;}
  100% { transform: translateY(0); opacity: 1;}
}

@keyframes animacion_buttons {
  0% {transform: translateX(-1000%); opacity: 0;}
  100% { transform: translateX(0); opacity: 1;}
}

@keyframes animacion_titulo_exit {
  0% { transform: translateY(0); opacity: 0;}
  100% {transform: translateY(-1200%); opacity: 1;}
}

@keyframes animacion_buttons_exit {
  0% { transform: translateX(0); opacity: 0;}
  100% {transform: translateX(-1500%); opacity: 1;}
}

/* Animaciones para los movimientos del mario */
@keyframes mario_up {
  0%{ bottom: 224px;}
  50% {bottom: 324px;}
  100 {bottom: 424px;}
}

@keyframes mario_up_tubo1{
    0%{ bottom: 224px;}
    50% {bottom: 324px;}
    100 {bottom: 424px;}
}

@keyframes mario_left_tubo1{
  0% {left: 880px;}
  100% {left: 960px;}
}

@keyframes mario_down_tubo1 {
  0% {bottom: 324px;}
  100% {bottom: 224px;}
}


@keyframes mario_up2_tubo1{
    0%{ bottom: 324px;}
    100% {bottom: 424px;}
}

@keyframes mario_left2_tubo1{
  0% {left: 960px;}
  100% {left: 1120px;}
}

@keyframes mario_down2_tubo1  {
  0% {bottom: 424px;}
  50% {bottom: 350px;}
  100% {bottom: 304px; opacity: 0;}
}


@keyframes animacion_final{
  0% { transform:scale(1) rotateZ(0); display: block;}
  50% { transform:scale(2) rotateZ(180deg); display: block;}
  100% { transform:scale(1) rotateZ(360deg); display: block;}
}
