* {box-sizing: border-box; margin:0; border:}

.bordes{
  float: left;
  width: 25%;
  background-color: green;
  /* height: 1000px; */
  padding-top: 100%;
}

#center{
  float: left;
  width: 50%;
  padding-top: 10%;
  text-align: center;
}

#calculadora{
  /* border: thin solid blue; */
  margin: 1%;

}
#all_buttons{
  border: thin solid blue;
}

.entry{
  margin: 2%;
  width: 35%;
}

#botones{
float: left;
width: 25%;
/* border: thin solid blue; */
margin-top: 1%;

}


.button{
  width: 25%;
  height: 20%;
  font-size: 25px;
  margin: 2%;
}

#operaciones{
  float: left;
  /* border: thin solid blue; */
  width: 11%;
  margin-top:  1.5%;
  margin-left: 32%;


}

.button_operaciones{
  width:  55%;
  font-size: 20px;

}


/* CLEARFLIX */
/* .all_buttons::after {
  content: "";
  clear: both;
  display: table;
} */
