* { box-sizing: border-box; margin: 0;}

#all{
    background-image: url("img/fondo.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1024px;
    overflow-y: hidden;
}

#title{
  font-family: 'Lobster', italic;
  font-size: 40px;
  text-shadow: 5px -3px green;
   -webkit-text-stroke: 2px white;
   color: black;
   padding: 20px;
   padding-top: 100px;
   margin-left: 1000px;
}

#instrucciones{
  margin-left: 1000px;
  margin-top: 55px;
  color: white;
  margin-right: 150px;
  font-size: 18px;
}

#instrucciones li{
  font-style: italic;
}

#id_button{
  float: right;
  margin-right: 400px;
}

#boton{
  color: green;
  border: 3px solid green;
  /* margin: 0 0.3em 0.3em 0; */
  border-radius: 1px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 60px;
  transition: all 0.2s;
  cursor: pointer;
  width: 150px;
  height: 50px;

}

#footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 15px;
  border-top: thin solid white;
  border-width: 2px;
  padding-top: 5px;
  font-style: italic;
  color: white;
}

#footer a{
  color: white;
}

#footer img{
  float: right;
  width: 40px;
  background-color: white;
}


#game{
  margin-left: 1000px;
  top: 20px;
  position: absolute;
  width: 700px;
  height: 800px;
  border: thin solid blue;
  border-radius: 15px;
  border-width: 5px;
  display: none;
}

.div_inside_game{
  border: thin solid white;
  height: 50px;
  width: 50px;
  float: left;

}

#game::after {
  content: "";
  clear: both;
  display: table;
}

#game_ball{
  position: relative;
  max-width: 80%;
  top: 0px;
}

.image_div_game{
  max-width: 100%;
}

.div_inside_game_water{
background-image: url("img/agua.jpg");
height: 50px;
width: 50px;
float: left;
}

.div_inside_game_ball{
  background-image: url("img/pelota.jpg");
  height: 50px;
  width: 50px;
  float: left;
}

.div_inside_game_rock{
  background-image: url("img/roca.jpg");
  height: 50px;
  width: 50px;
  float: left;
}

.div_inside_game_brick{
  background-image: url("img/ladrillo.jpg");
  height: 50px;
  width: 50px;
  float: left;
}

@keyframes exit {
  100%{ margin-top: -600px; }
}
